:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);
}

body {
    width: 100%;
    height: 200vh;
    padding-top: 100px;
    z-index: 0;
}

.navbar {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 600;
}

.brand-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-ul li {
    display: flex;
    align-items: center;
    height: 30px;
}

.nav-ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar {
    border-right: 1px solid var(--secondary);
    margin: 0 10px;
    width: 120px;
    height: 30px;
}

.cart-icon {
    width: 60px;
    height: 60px;

}

.promobar {
    width: 100%;
    height: 60px;
    background-color: #202124;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-text {
    color: var(--white);
    font-size: 15px;
    margin: 5px 10px;
    font-weight: 500;
}

.start-order-btn {
    width: 100px;
    height: 70%;
    background-color: #e4002b;
    color: var(--white);
    border: none;
    border-radius: 30px;
    margin: 5px 10px;
}

@media only screen and (max-width:800px) {
    body {
        display: none;
    }
}

.welcome-div {
    width: 100%;
    height: 150px;
    background-color: #f8f7f5;
    padding: 0px 200px;
}

.strip-box-container {
    width: 40px;
    height: 20px;
    background: repeating-linear-gradient(90deg, #e4002b, #e4002b 8px, #fff 0, #fff 16px);
}

.pastorder-greeting-heading {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 29.71px;
    margin-bottom: 30px;
}