:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);
}

body {
    width: 100%;
    height: 200vh;
    padding-top: 100px;
    z-index: 0;
}

.navbar {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 600;
}

.brand-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-ul li {
    display: flex;
    align-items: center;
    height: 30px;
}

.nav-ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar {
    border-right: 1px solid var(--secondary);
    margin: 0 10px;
    width: 120px;
    height: 30px;
}

.cart-icon {
    width: 60px;
    height: 60px;

}

.promobar {
    width: 100%;
    height: 60px;
    background-color: #202124;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-text {
    color: var(--white);
    font-size: 15px;
    margin: 5px 10px;
    font-weight: 500;
}
.promo-text2 {
    display: none;
}

.start-order-btn {
    width: 100px;
    height: 70%;
    background-color: #e4002b;
    color: var(--white);
    border: none;
    border-radius: 30px;
    margin: 5px 10px;
}

@media only screen and (max-width:800px) {}

.welcome-div {
    width: 100%;
    height: 150px;
    background-color: #f8f7f5;
    padding: 0px 200px;
}

.strip-box-container {
    width: 40px;
    height: 20px;
    background: repeating-linear-gradient(90deg, #e4002b, #e4002b 8px, #fff 0, #fff 16px);
}

.pastorder-greeting-heading {
    font-family: var(--font-family-sans-serif);
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 29.71px;
    margin-bottom: 30px;
}

.browse-title {
    width: 100%;
    height: 100px;
    display: flex;

    flex-direction: row;
    align-items: center;
    padding: 0px 200px;
}

.title {
    display: inline;
    font-size: 1.5rem;
    font-weight: 700;
}

.horizontal-line {
    border-top: 2px solid #767575;
    height: 10px;
    width: 100%;

}

.products-container {
    width: 100%;
    height: 80vh;
    padding: 10px 150px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.pro {
    background-color: #202124;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}


.offers-details-section {
    width: 100%;
    height: calc(80vhvh - 100px);
    background-color: #202124;
    margin: 100px 0 0 0;
    padding: 0 200px;
}


.strip {
    height: 100%;
    width: 20px;
}

.title-section {
    height: 100px;
    width: 100%;
}

.offersContainer-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 43px;
    font-weight: 500;
    color: var(--white);
}


.product-card-section {
    width: 100%;
    height: 400px;
    padding: 10px 5px;
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.product-card-section::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.card-com {
    background-color: #202124;
    width: 250px;
    border-radius: 10px;
    display: grid;
    grid-template: 2fr 1fr / 1fr !important;
}

.footer-section {
    width: 100%;
    height: 300px;
    background-color: #202124;
    padding: 10px 100px;
    display: grid;
    grid-template: auto 20px / 100%;
}

.links-section {
    display: grid;
    grid-template: auto / 100px auto 100px 200px 200px;
}

.copyright-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(223, 221, 221);
}

.linls {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 50px;
}

.linls ul li a,
li {
    color: var(--white);
    font: 100;
    font-size: 12px;
    margin: 10px 0;
}

.discription {
    text-align: center;
}

.btn-holder {
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
}

.redeem-btn {
    width: 100px;
    height: calc(100% - 8px);
    border: none;
    border: 1px solid black;
    border-radius: 30px;
    background-color: var(--white);
    margin: 5px;
}
.my-awesome {
    display: none;
}

/* for Mobile screens  */




/* for Mobile screens  */